<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Manage Leave Requests</strong>
            </c-card-header>
            <c-card-body>
                <form [formGroup]="searchForm" (ngSubmit)="onSearch()">

                    <c-row>
                        <c-col xs="12">
                            <c-row>
                                <!-- <c-col xs="">
                                    <label class="inline-block mb-2 label-block">Date From</label>
                                    <input aria-label="sm input example" cFormControl placeholder="dd/mm/yyyy"
                                        sizing="sm" type="text" formControlName="name" />
                                </c-col>
                                <c-col xs="3">
                                    <label class="inline-block mb-2 label-block">Date To</label>
                                    <input aria-label="sm input example" cFormControl placeholder="dd/mm/yyyy"
                                        sizing="sm" type="text" formControlName="employeeId" />
                                </c-col> -->
                                <c-col xs="3">
                                    <label class="inline-block mb-2 label-block">Date From</label>
                                    <input
                                      type="text"
                                      placeholder="dd/mm/yyyy"
                                      bsDatepicker
                                      [(ngModel)]="selectedDate"
                                      aria-label="default input example"
                                      class="form-control"
                                      cFormControl
                                    />
                                  </c-col>
                                  

                                <c-col xs="3">
                                    <label class="inline-block mb-2 label-block">Date To</label>
                                    <input aria-label="default input example" cFormControl placeholder="dd/mm/yyy"
                                        type="text" />
                                </c-col>

                                <c-col xs="3">
                                    <label class="inline-block mb-2 label-block">Leave Type</label>
                                    <select aria-label="Default select example" cSelect>
                                        <option>Select</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </c-col>
                                <c-col xs="3">
                                    <label class="inline-block mb-2 label-block">Status</label>
                                    <select aria-label="Default select example" cSelect>
                                        <option>Select</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </c-col>
                                <!-- <c-col xs="3">
                                    <label class="inline-block mb-2 label-block">Status</label>
                                    <input aria-label="sm input example" cFormControl placeholder="Passport Number"
                                        sizing="sm" type="text" formControlName="passportNumber" />
                                </c-col> -->
                            </c-row>
                            <br>
                            <c-row>
                                <c-row class="align-items-right justify-content-end mb-4">                                   
                                  <c-col>
                                    <!-- Primary Button -->
                                    <button type="submit"
                                      [active]="true" 
                                      [disabled]="false" 
                                      cButton color="primary">
                                      <svg cIcon class="me-2" name="cil-bell"></svg>
                                      Search
                                    </button>
                              
                                    <!-- Secondary Button -->
                                    <button type="button" (click)="clearForm()"
                                      [active]="true" 
                                      [disabled]="false" 
                                      cButton color="secondary">
                                      <svg cIcon class="me-2" name="cil-bell"></svg>
                                      Cancel
                                    </button>
                              
                                  </c-col>
                                </c-row>
                              </c-row>
                              

                        </c-col>
                        <!-- </form> -->
                    </c-row>
                </form>
            </c-card-body>
        </c-card>
    </c-col>

    <c-col xs="12">
        <c-card class="mb-4">
            <!-- <c-card-header>
                <strong>Employees</strong>
            </c-card-header> -->
            <c-card-body>             
              <div class="table-container">
                <table [hover]="true" cTable >
                    <thead>
                        <tr>
                            <th scope="col">Actions</th>
                            <th scope="col">Request Status</th>
                            <th scope="col">Leave Type</th>
                            <th scope="col">Submmited Date</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Requested days</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of leaveInfo; let i = index">                            
                            <td>{{ '' }}</td>                           
                            <td>{{ '' }}</td>
                            <td>{{ '' }}</td>
                            <td>{{ '' }}</td>                           
                            <td>{{ '' }}</td>
                            <td>{{ '' }}</td>
                            <td>{{ '' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            


            </c-card-body>
        </c-card>
    </c-col>
</c-row>