.label-block {
    display: block;
}
::ng-deep .custom-switch-size .switch {
  width: 48px !important;  
  height: 22px !important;  
  transform: scale(0.7) !important;  
  transform-origin: center !important; 
}

::ng-deep .custom-switch-size .switch .lever {
  transform: scale(1) !important; 
  transform-origin: center !important; 
} 
.icon-container {
  display: inline-flex; /* Ensure elements are in one line */
  align-items: center; /* Vertically center the icons */
  gap: 13px; /* Add spacing between the icons */
}