<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Manage Tasks</strong>
            </c-card-header>
            <c-card-body>
                <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">

                    <c-row>
                        <c-col xs="12">
                            <c-row>                              
                                <c-col xs="3">
                                    <label class="inline-block mb-2 label-block">Title</label>
                                    <input
                                      type="text"
                                      placeholder="Title"
                                      bsDatepicker
                                      formControlName="title"
                                      aria-label="default input example"
                                      class="form-control"
                                    />
                                </c-col>
                                  
                                <c-col xs="3">
                                    <label class="inline-block mb-2 label-block">Description</label>
                                    <input
                                      type="text"
                                      placeholder="Description"
                                      bsDatepicker
                                      formControlName="description"
                                      aria-label="default input example"
                                      class="form-control"
                                    />
                                </c-col>
                                  
                            </c-row>
                            <br>
                            <c-row>
                                <c-row class="align-items-right justify-content-end mb-4">                                   
                                  <c-col>
                                    <!-- Primary Button -->
                                    <button type="submit"
                                      [active]="true" 
                                      [disabled]="false" 
                                      cButton color="primary">
                                      <svg cIcon class="me-2" name="cil-bell"></svg>
                                      Save
                                    </button>
                              
                                    <!-- Secondary Button -->
                                    <button type="button" (click)="clearForm()"
                                      [active]="true" 
                                      [disabled]="false" 
                                      cButton color="secondary">
                                      <svg cIcon class="me-2" name="cil-bell"></svg>
                                      Cancel
                                    </button>
                              
                                  </c-col>
                                </c-row>
                              </c-row>
                              

                        </c-col>
                        <!-- </form> -->
                    </c-row>
                </form>
            </c-card-body>
        </c-card>
    </c-col>

    <c-col xs="12">
        <c-card class="mb-4">
            <!-- <c-card-header>
                <strong>Employees</strong>
            </c-card-header> -->
            <c-card-body>             
              <div class="table-container">
                <table [hover]="true" cTable >
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Task Status</th>
                            <th scope="col">Created By</th>
                            <th scope="col">Created Date</th>
                            <!-- <th scope="col">Status</th> -->
                            <!-- <th scope="col">Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tasks; let i = index">                            
                            <td>{{ item.title }}</td>                           
                            <td>{{ item.description }}</td>
                            <td>{{ item.status }}</td>
                            <td>{{ item.encCreatedBy }}</td>                           
                            <td>{{ item.createdDate | date: 'dd/MM/yyyy' }}</td>
                            <!-- <td><ui-switch color="#00C5AD" (click)="onStatusUpdate($event, item.encTaskId, item.isActive)"
                                [(ngModel)]="item.isActive" size="small" class="me-1 custom-switch-size">
                            </ui-switch></td> -->
                            <!-- <td>
                                <div class="icon-container">
                                    <a class="d-inline" href="javascript:void(0);" (click)="edit(item.encTaskId, false)">
                                        <img src="./assets/images/edit-icon.svg" alt="Edit Icon" />
                                        <img src="D:\Programming\Lab\CoreUIDashboard\src\assets\images\edit-icon.svg" alt="Edit Icon" />
                                        <img src="src\assets\images\edit-icon.svg" alt="Edit Icon" />                                        
                                      </a>
                                <a class="d-inline" href="javascript:void(0);" (click)="deletePopUp(item.encTaskId)">
                                  <img src="./assets/images/delete-icon.svg" alt="Delete Icon" />
                                </a>
                              </div>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
            


            </c-card-body>
        </c-card>
    </c-col>
</c-row>