<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="profile-card mb-4" >                    
            <c-card-body>
                <div class="profile-container">
                    <!-- Image is now at the top -->
                    <img src="assets/images/edrine.JPG" alt="Profile Image" class="profile-image">
                    
                    <!-- Profile details below the image -->
                    <h3 class="profile-name">Edrine Mwesigwa</h3>
                    <p class="employee-id">Employee ID: MLTA000285</p>
                    <p class="position">Position: Jr. Software Engineer</p>
                    <p class="department">Department: Software Development</p>
                    <p class="joining-date">Joining Date: 27/06/2020</p>
                </div>
                
                <!-- Profile balances section -->
                <div class="profile-balances">
                    <div class="balance-item">
                        <p class="balance-value">45.00</p>
                        <p class="balance-label">Annual Balance</p>
                    </div>
                    <div class="balance-item">
                        <p class="balance-value">7.00</p>
                        <p class="balance-label">Sick Balance</p>
                    </div>
                    <div class="balance-item">
                        <p class="balance-value">0</p>
                        <p class="balance-label">Compensation Balance</p>
                    </div>
                </div>
            </c-card-body>
        </c-card>    
    </c-col>    

</c-row>










